@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
    background-color: rgb(128, 26, 26);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 1200px;
}

.Titulo-Car {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.Button-one {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

div {
    width: 20%;
}


body {
    background-image: url("/assets/imgs/bom-back.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

main {
    background-color: rgb(255, 255, 255);
    width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    gap: 10px;
    padding: 10px;
    height: 1000px;
}

.Botoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
    width: 70%; 
}
.button-pratos {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px rgb(221, 19, 19);
    background-color: rgb(255, 255, 255);
}
.button-pratos:hover {
    background-color: rgb(30, 14, 243);
    border: solid rgb(255, 0, 0);
}
.hr {
    background-color: rgba(0, 0, 0, 0.651);
    width: 80%;
    height: 1px;
}

.Pratos {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.block-1 {
    gap: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(231, 229, 229);
    width: 200px;
    box-shadow: 7px rgba(0, 0, 0, 0.651);
    height: 300px;
    text-align: center;
}

.descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
}
.img-pratos {
    border-radius: 20px;
}