@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

/*Cores default (light)*/
:root {
	--bg-main: rgba(255, 255, 255, 0.774);
	--bg-body: ;
}

/*Cores (dark)*/
.dark {
	--bg-body: rgba(155, 155, 155, 0.7);
}

body {
	background-color: var(--bg-body);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

header {
    background-color: rgb(235, 71, 7);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}

.Titulo-Car {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.Button-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.button-theme {
    width: 120px;
    height: 35px;
    border-radius: 30px;
    border: solid 2px rgb(255, 187, 0);
    background-image: url("../imgs/icons/back-dia-button.png");
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-theme:hover {
    background-image:url("../imgs/icons/back-noite-button-theme.png");
    background-size: cover;
    color: rgb(255, 255, 255);
}

div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bandeira {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     img {
        border-radius: 30px;
        transition: all 0.3s ease;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);

    }

    img:hover {
        transform: scale(1.1);
        }
}

main {
    background-color: var(--bg-main);
    width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    gap: 10px;
    padding: 10px;
    height: 1000px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
}

.Botoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.button-italia {
    width: 250px;
    height: 170px;
    border-radius: 20px;
    border: solid 2px rgb(29, 129, 4);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-italia/bandeira.webp");
    background-size: cover;
}

.button-italia:hover {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(122, 2, 2);
    transform: scale(1.1);
}

.button-japan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 170px;
    border-radius: 20px;
    border: solid 2px rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-japan/bandeira.jpg");
    background-size: cover;
}

.button-japan:hover {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(255, 5, 5);
    transform: scale(1.1);
}

.button-mexic {
    width: 250px;
    height: 170px;
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-mexic/bandeira.jpg");
    background-size: cover;
}

.button-mexic:hover {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.button-brasil {
    width: 250px;
    height: 170px;
    border-radius: 20px;
    border: solid 2px rgb(29, 129, 4);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-brasil/bandeira.jpg");
    background-size: cover;
}

.button-brasil:hover {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(122, 2, 2);
    transform: scale(1.1);
}

.button-india {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 170px;
    border-radius: 20px;
    border: solid 2px rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-india/bandeira.jpg");
    background-size: cover;
}

.button-india:hover {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(255, 5, 5);
    transform: scale(1.1);
}

.button-franca {
    width: 250px;
    height: 170px;
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-franca/bandeira.webp");
    background-size: cover;
}

.button-franca:hover {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.button-somalia {
    width: 250px;
    height: 170px;
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-soma/bandeira.jpg");
    background-size: cover;
}

.button-somalia:hover {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.hr {
    background-color: rgba(0, 0, 0, 0.651);
    width: 80%;
    height: 1px;
}

.Pratos {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.block-1 {
    gap: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px 0px 20px;
    background-color: rgb(223, 225, 230);
    width: 240px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
    height: 330px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.76);
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    height: 370px;
}

.block-1:hover {
    transform: scale(1.1);
    background-color: aliceblue;
    background-image: url("../imgs/imgs-italia/back.jpg");
    background-size: cover;
}


.descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 190px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.descricao:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
}

.img-pratos {
    border-radius: 20px;
    width: 150px;
    height: 100px;
    border: 2px solid white;
    transition: all 0.2s ease;
}

.img-pratos:hover {
    transform: scale(1.1);
}
