@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

/*Cores default (light)*/
:root {
	--bg-main: rgb(255, 255, 255);
	--bg-body: rgb(255, 255, 255);
    --main-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
}

/*Cores (dark)*/
.dark {
    --bg-main: rgb(0, 0, 0);
	--bg-body: rgba(0, 0, 0, 0.7);
    --main-color: black;
    --text-color: rgb(255, 255, 255);
}


body {
	background-color: var(--bg-main);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}



.paises {
    width: 100%;
    padding: 50px;
    margin: 0px;
    gap: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    font-weight: 200;body, html {
    overflow-x: hidden;
}
}

header {
    background-color: #ff0606;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    color: var(--text-color);
}

.paises {
    width: 100%;
    padding: 50px;
    margin: 0px;
    gap: 14px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    background-color: var(--main-color);
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 20px;
    height: 50px;
    color: var(--text-color);
}

.img-world {
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../imgs/boa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.alinhamento {
    margin: 10px;
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    font-size: 23px;
    padding: 20px;
    font-family: "Mulish", sans-serif;
}

.titulo-ali {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.Button-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

}

.button-theme {
    width: 120px;
    height: 35px;
    border-radius: 30px;
    border: solid 2px rgb(255, 187, 0);
    background-image: url("../imgs/icons/back-dia-button.png");
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-theme:hover {
    background-image:url("../imgs/icons/back-noite-button-theme.png");
    background-size: cover;
    color: rgb(255, 255, 255);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bandeira {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     img {
        border-radius: 30px;
        transition: all 0.3s ease;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);

    }

    img:hover {
        transform: scale(1.1);
        }
}



body {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
   
}

main {
    background-color: var(--main-color);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
    margin: 10px;
    width: calc(100% - 20px);
    color: var(--text-color);
}

.Botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.button-italia {
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-italia/bandeira.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.button-italia:hover {
    transform: scale(1.1);
}

.button-japan {
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-japan/bandeira.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.button-japan:hover {
    transform: scale(1.1);
}
.button-mexic {
    width: 100px;
    height: 50px;
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-mexic/bandeira.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.button-mexic:hover {
    transform: scale(1.1);
}

.button-brasil {
    width: 100px;
    height: 50px;
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-brasil/bandeira.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.button-brasil:hover {
    transform: scale(1.1);
}

.button-india {
    width: 100px;
    height: 50px;
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-india/bandeira.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.button-india:hover {
    transform: scale(1.1);
}
.button-franca {
    width: 100px;
    height: 50px;
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-franca/bandeira.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.button-franca:hover {
    transform: scale(1.1);
}
.button-somalia {
    width: 100px;
    height: 50px;
    transition: all 0.3s ease;
    background-image: url("../imgs/imgs-soma/bandeira.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.button-somalia:hover {
    transform: scale(1.1);


}


.container-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hr {
    background-color: rgba(0, 0, 0, 0.651);
    width: 80%;
    height: 1px;
}

.bestseler-1 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.img-pratos-1 {
    width: 300px;
    display: flex;
    transition: transform 0.3s ease;
}
.img-pratos-1:hover {
    transform: scale(1.1);
} 

.element-vazio {
    width: 100px;

}

.desc1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.titulo1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 60px;
}
.bestseler-1 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.img-pratos-1 {
    width: 300px;
    display: flex;

}

.element-vazio {
    width: 100px;
}

.desc1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.titulo1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 60px;
}

main, .container-1, .bestseler-1, .block-1 {
    max-width: 100%;
    overflow: hidden;
}



.bestseler-2 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.img-pratos-2 {
    width: 300px;
    display: flex;
    transition: transform 0.3s ease;

}

.img-pratos-2:hover {
    transform: scale(1.1);
}

.element-vazio {
    width: 100px;
}

.desc2 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.titulo2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 60px;
}
.bestseler-2 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.img-pratos-2 {
    width: 300px;
    display: flex;

}

.element-vazio {
    width: 100px;
}

.desc2 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.titulo2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 60px;
}


main, .container-1, .bestseler-2, .block-2 {
    max-width: 100%;
    overflow: hidden;
}




.bestseler-3 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.img-pratos-3 {
    width: 300px;
    display: flex;
    transition: transform 0.3s ease;

}

.img-pratos-3:hover {
    transform: scale(1.1);
}

.element-vazio {
    width: 100px;
}

.desc3 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.titulo3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 60px;
}
.bestseler-3 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.img-pratos-3 {
    width: 300px;
    display: flex;

}

.element-vazio {
    width: 100px;
}

.desc3 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.titulo3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 60px;
}


main, .container-1, .bestseler-3, .block-3 {
    max-width: 100%;
    overflow: hidden;
}